/* mat-menu {
    margin: 0px;
    margin-left: 90%;
} */

.menu-container, .menu-container>*{
  text-align: right;
  padding-right: 5px;
}

.active{
    color: black;
}

a{
    font-family: varelaRound;
    font-size: x-large;
    font-weight: 100;
    color: white;
    text-decoration: none;
}

span{
    font-family: Oswald;
    font-size: large;
    color: white;
}

hr{
    text-align: left;
    color: white;
    width: 85%;
    right: 2px;
}

.activeA{
    color: black;
}

div{
    background-color: rgb(25, 219, 208);
    padding-top: 20px;
    padding-left: 20px;
    height: 100%;
    text-align: left;
    padding-bottom: 15px;
}
