<div ngClass="outer">
  <h3>לוח משמרות החל מתאריך:</h3>
  <div>
    <input type="date" [(ngModel)]="strCalendarStartDate">
    <button (click)="showShiftsPerDate()">הצג</button>
  </div>

  <div ngClass="table-container">
    <table ngClass="table">
      <tr ngClass="no-border-tr">
        <th ngClass="noBorder"></th>
        <th *ngFor="let item of employeesPerShiftTypesForWeek[0]">
          {{item.shift.startTime | date :'EEEE' : undefined : 'he'}}<br>
          {{item.shift.startTime | hebWeekDay}}<br>
        </th>
      </tr>

      <tr *ngFor="let item of [].constructor(relevantShiftTypes.length); let i = index">
        <th ngClass="noBorder">{{relevantShiftTypes[i].typeTitle}}</th>
        <ng-container *ngFor="let item of employeesPerShiftTypesForWeek[i]; let j=index">
          <td *ngIf="employeesPerShiftTypesForWeek">
            <div class="emp-outer-container">
              <ng-container *ngFor="let emp of employeesPerShiftTypesForWeek[i][j].employees">
              <div class="emp-container">
                <img [src]=emp.imageFileName>
                <div class="emp-name">
                  {{emp.firstName}}
                </div>
              </div>

            </ng-container>
            </div>

          </td>
        </ng-container>
      </tr>
    </table>

    <div ngClass="browsing-buttons">
      <div ngClass="prevous-button">
        <button (click)="showPrevousWeek()">שבוע קודם</button>
      </div>
      <div ngClass="next-button">
        <button (click)="showNextWeek()">שבוע הבא</button>
      </div>
    </div>

  </div>

</div>
